/*
styles.css
*/

.wrap {
    overflow: hidden;
    /*width: 840px;*/
    margin: auto;
  }

.door-wrap {
  overflow: auto;
  position: relative;
  width: 200px;
  display: inline-block;
  text-align: center;
}

.indicator-container {
    overflow: auto;
    margin: 10px;
    position: relative;
    float: none;
}

.indicator {
    overflow: auto;
    margin: 10px;
    position: relative;
    float: none;
}

.clear {
  clear: both;
}

.door-button {
  outline-width: 0px;
  font-size: .9em;
  margin: 5px;
}

input {
  width: 15px;
}

div {
  font-family: sans-serif;
}


/* may be able to trim some of the fat here*/
.wait {
  position: absolute;
  width: 40%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.wait-container {
  position: absolute;
  z-index: -1;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}
